*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/*DARK-MODE*/

.dark-mode body {
  height: 100vh;
  background-color: gray;
}
.dark-mode header {
  background-color: rgb(29, 29, 29);
  text-align: center;
  color: antiquewhite;
  height: 50%;
}
.dark-mode h1 {
  font-family: "Kablammo", cursive;
}
.dark-mode .container-icons, a, img{
  padding: 5px 10px;
  cursor: pointer;
}
.dark-mode .organizer {
  background-color: rgb(95, 93, 93);
  display: flex;
}
.dark-mode .generator-container {
  width: 60%;
  height: 38vw;
  margin: 5px auto;
  margin-right: 70px;
  background-color: #c0c0c0;
  border: 3px solid gold;
  border-radius: 5px;
}
.dark-mode #container-img {
  border: 2px solid black;
  height: 100%;
  display: flex;
  flex-direction: column;
}

.dark-mode .meme-txt {
  height: 15%;
  background-color: rgb(29, 29, 29);
  color: antiquewhite;
  text-align: center;
  padding-top: 20px;
  font-size: 22px;
}
.dark-mode .img-central {
  width: 100%;
  height: 76%;
  border: 2px solid black;
}
.dark-mode .container-btn-download {
  display: flex;
  justify-content: center;
  background-color: rgb(95, 93, 93);
}
.dark-mode #download-icon {
  border: none;
  margin: 1px auto;
}
/*  ASIDE*/

.dark-mode #aside {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 38vw;
  width: 23%;
  margin: 2px 10px;
  border: 3px solid black;
  border-radius: 20px;
  background-color: rgb(29, 29, 29);
  color: antiquewhite;
  line-height: 1.5;
}

.dark-mode #off-btn {
width: 24px;
height: 24px;
position: absolute;
right: 25px;
cursor: pointer;

}
.dark-mode .section-img,
.section-txt {
  display: flex;
  width: 100%;
  height: 35vw;
  flex-direction: column;
  font-size: 18px;
  padding: 10px 15px;
}
.dark-mode .img-color {
  display: flex;
  justify-content: space-around;
}
/*select*/
.dark-mode option {
  background-color: rgb(95, 93, 93);
 
}
.dark-mode input {
  background-color: rgb(95, 93, 93);
  color: antiquewhite;
}
/* circulo color input*/
.dark-mode .color-input {
  width: 30px;
  height: 30px;
  background: black;
  border: none;
  display: inline-block;
}
.dark-mode #color-input::-webkit-color-swatch {
  border: none;
  border-radius: 50%;
}
.dark-mode #color-input::-webkit-color-swatch-wrapper {
  border-radius: 50%;
  padding: 0;
}
/* termina circulo color input*/

/* nombre del color*/

.dark-mode #color-name {
  margin-left: 20px;
  text-align: center;
}

.dark-mode #reset-btn {
  margin-top: 30px;
  border: 2px solid gold;
  text-align: center;
  border-radius: 10px;
  cursor: pointer;
}
.dark-mode .section-img{
  display: none;
}

/*aside, section-txt oculto*/
.dark-mode .section-txt {

}
.font-size-alig{
  font-size: 10;
  display: flex;
}
.alignment{
display: flex;
}
.dark-mode .btn-x {
  align-items: end;
}


.dark-mode footer {
  text-align: center;
}


/* modo claro, oculto */

.dark-mode  #btn-clear-mode{
  display: none;
}

.dark-mode #btn-img-clear{
  display:none;
}