/* Variables de colores */
:root {
    --background-intenso: #040d12;
    --background-medio: #183d3d;
    --background-suave: #5c8374;
    --font-color-intenso: #4682a9;
    --font-color-medio: #192041;
    --font-color-suave: #f6f4eb;
    --button-color-intenso:var(--font-color-intenso);
    --button-color-hover:var(--font-color-suave);
}

/* Estilos para el modo claro */
[data-mode="clear-mode"] {
    --background-intenso: #ababab;
    --background-medio: #e7e7e7;
    --background-suave: #e6e6e6;
}

/* Reset de estilos para elementos HTML */
*, *::before, *::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Estilos generales del cuerpo del documento */
body {
    height: 100vh;
    background-color: var(--background-medio);
}

/* Estilos para el encabezado */
header {
    background-color: var(--background-intenso);
    text-align: center;
    color: var(--font-color-suave);
    height: 50%;
}

.change-theme .hidden{
    display: none;
}



/* Agrega estilos para otros elementos según sea necesario */

h1 {
    font-family: "Kablammo", cursive;
    color:var(--font-color-suave);
}
.container-icons,
a,
img {
    padding: 5px 10px;
   
}
.organizer {
     display: flex;
}
.generator-container {
    width: 60%;
    height: 38vw;
    margin: 5px auto;
    margin-right: 70px;
    background-color: #c0c0c0;
    border: 3px solid gold;
    border-radius: 5px;
}
#container-img {
    border: 2px solid black;
    height: 100%;
    display: flex;
    flex-direction: column;
}

.meme-txt {
    height: 15%;
    background-color: rgb(29, 29, 29);
    color: antiquewhite;
    text-align: center;
    padding-top: 20px;
    font-size: 22px;
}
.img-central {
    width: 100%;
    height: 76%;
    border: 2px solid black;
}
.container-btn-download {
    display: flex;
    justify-content: center;
    background-color: rgb(95, 93, 93);
}
#download-icon {
    border: none;
    margin: 1px auto;
}
/*  ASIDE*/

#aside {
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 40vw;
    width: 25%;
    margin: 2px 10px;
    border: 3px solid black;
    border-radius: 20px;
    background-color: var(--background-intenso);
    color: var(--font-color-suave);
    line-height: 1.3;
}
/*BOTTOM ASIDE-OFF*/
#off-btn {
    width: 24px;
    height: 24px;
    position: absolute;
    right: 25px;
    cursor: pointer;
}
.section-img,
.section-txt {
    display: flex;
    width: 100%;
    height: 35vw;
    flex-direction: column;
    font-size: 18px;
    padding: 10px 20px;
}
.img-color {
    display: flex;
    justify-content: space-around;
}
/*select*/
option {
    background-color: var(--background-suave);
}
input {
    background-color: var(--background-suave);
    color: var(--font-color-medio);
}
/* circulo color input*/
.color-input {
    width: 30px;
    height: 30px;
    background: black;
    border: none;
    display: inline-block;
}
#color-input::-webkit-color-swatch {
    border: none;
    border-radius: 50%;
}
#color-input::-webkit-color-swatch-wrapper {
    border-radius: 50%;
    padding: 0;
}
/* termina circulo color input*/

/* nombre del color*/

#color-name {
    margin-left: 20px;
    text-align: center;
}

#reset-btn {
    margin-top: 30px;
    border: 2px solid gold;
    text-align: center;
    border-radius: 10px;
    cursor: pointer;
}
.section-txt {
    display: none;
}

/*aside, section-txt oculto*/

.font-size-alig {
    font-size: 10;
    display: flex;
}
.alignment {
    display: flex;
}
.color-fondo {
    display: flex;
    flex-direction: column;
}
.contorno {
    display: flex;
    justify-content: space-between;
}
.espaciado-interlineado {
    display: flex;
    padding: 10px;
    justify-content: space-around;
}
.btn-x {
    align-items: end;
}

footer {
    text-align: center;
    color: var(--font-color-intenso);
}

fieldset{
    display: flex;
    justify-content: space-around;
    margin: 10px ;
    padding: 5px;
}


